:root{
    --main-color: #212121; 
    --main-bg-color: #F5F5F5;
    --bg-color-team: #F5F4FA;
    --first-color: #000000;
    --second-color: #2196F3;
    --third-color: #fff;
    --little-color: #757575;
    --just-color: #2F303A;
    --main-button-background: #1B8CEB;
    --portfolio-border: #EEEEEE;
    --contacts-footer: rgba(255, 255, 255, 0.6);
    --icons-color: rgba(175, 177, 184, 1);
    --indent: 30px;
    --itens: 3;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
